# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Luis Aneuris\Desktop\All\2021 C1\ds\javaFX-PostgreSQL\Aplicacion1JavaFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
